.logo{
   margin-top: 15px;
}

#myOverlay1 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
 #myOverlay2 {
    width:50%;
    height:50%;
     }
 #myOverlay3 {
                
    }
.overlay-top-hdr{
    height: 50px;
    background: #C0403F;
    width: 100%;
}
.overlay-site-name{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 20px;
}
.overlay-site-name-right{
      text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 20px;
    margin-right: 20px;
   
}
.overlay-top-body{
height: 300px;
    width: 100%;
   background: #332F2D; 
}
.overlay-top-foot{
height: 54px;
    width: 100%;
    background: #C0403F;
}
.overlay-top-body-2{
height: auto;
    width: 100%;
   background: #332F2D; 
}