a{color: white;}

.logo{
   margin-top: 15px;
}

#myOverlay1 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }


#myOverlay5 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay6 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }

#myOverlay7 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay8 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay9 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay10 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay11 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }








 #myOverlay2 {
    width:50%;
    height:0%;
     }
 #myOverlay3 {
                
    }
 #myOverlay4 {
    width:60%;
    height:0%;
   
     }
.overlay-top-hdr{
    height: 50px;
    background: #C0403F;
    width: 100%;
}
.overlay-site-name{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 20px;
}
.overlay-site-name-right{
      text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 20px;
    margin-right: 20px;
   
}
.overlay-top-body{
height: 300px;
   width: 34%;
    color: #332F2D;
    
  
}
.overlay-right{
 background: #332F2D; 
    height: 300px;
    width: 66%;
    float: right;
   
}
.body-popup-cust{
     width: 100%;
}
.overlay-top-foot{
height: 54px;
    width: 100%;
    background: #C0403F;
}
.overlay-top-body-2{
height: auto;
    width: 100%;
   background: #332F2D; 
}
.body-sec-full{
height: 650px;
}
.gallery-resort {
    height: 100px;
    float: left;
    
}
.compare-Hotels{
   
    height: 250px;
    width: 14.28%;
    float: left;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
    font-size: 10px;
    
}
.overlay-top-comp{
height: 250px;
    width: 100%;
   
}
            
ul.hotels {
  list-style-type:square;
}
.product-listing {
height: 300px;
  
    float: left;
    
}

.product-listing:hover{
    border: 0.5px solid red;
}
.book-btn{
margin-left: -10px;
width: 110%;
    height: 50px;
    background: #C0403F;
    padding-top: 10px;
    text-align: center;
    
   
}
.book-btn:hover{
    cursor: pointer;
}
.cst-links{
    color: white;
}
.cst-links:hover{
    text-decoration: underline 2px solid aqua;
}
.text{ width:200px;
    height:200px; 
    background:#FFF; 
    opacity:0; 
   margin-top: 20px;
} 
.product-listing:hover .text
{ 
    opacity:0.6; text-align:justify; 
    color:#000000; 
    font-size:20px; font-weight:700;
    font-family:"Times New Roman", Times, serif; padding:30px; 
}

.text-b{ 
    width:260px;
    height:200px; 
    background:#FFF; 
    opacity:0; 
   margin-top: 20px;
} 
.product-listing:hover .text-b
{ 
    opacity:0.6; text-align:justify; 
    color:#000000; 
    font-size:20px; font-weight:700;
    font-family:"Times New Roman", Times, serif; padding:30px; 
}

.btn-choose{
margin-left: -10px;
width: 110%;
    height: 50px;
    background: #C0403F;
    padding-top: 10px;
    text-align: center;
    color: white;
   
}
.btn-choose:hover{
    cursor: pointer;
}
.footer-end{
height: 50px;
    background: #000;
    width: 100%
}
.copyright{
color: white;
    text-transform: uppercase;
}
.header-ind{
background: url(../img/logo-west.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 695px;
}