.logo{
   margin-top: 15px;
}

#myOverlay1 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }


#myOverlay5 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay6 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }

#myOverlay7 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay8 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay9 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay10 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }
#myOverlay11 {
width:600px;
height:400px;
     
     background-size: cover;
     margin-top: -21px;
 }








 #myOverlay2 {
    width:50%;
    height:0%;
     }
 #myOverlay3 {
                
    }
 #myOverlay4 {
    width:60%;
    height:0%;
   
     }
.overlay-top-hdr{
    height: 50px;
    background: #C0403F;
    width: 100%;
}
.overlay-site-name{
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 20px;
}
.overlay-site-name-right{
      text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 100;
    padding-top: 20px;
    margin-right: 20px;
   
}
.overlay-top-body{
height: 300px;
   width: 34%;
    color: #332F2D;
    
  
}
.overlay-right{
 background: #332F2D; 
    height: 300px;
    width: 66%;
    float: right;
   
}
.body-popup-cust{
     width: 100%;
}
.overlay-top-foot{
height: 54px;
    width: 100%;
    background: #C0403F;
}
.overlay-top-body-2{
height: auto;
    width: 100%;
   background: #332F2D; 
}
.body-sec-full{
height: 100px;
}
.gallery-resort {
    height: 100px;
    float: left;
    
}
.compare-Hotels{
   
    height: 250px;
    width: 14.28%;
    float: left;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
    font-size: 10px;
    
}
.overlay-top-comp{
height: 250px;
    width: 100%;
   
}
            
ul.hotels {
  list-style-type:square;
}
.product-listing {
height: 300px;
  
    float: left;
    
}

.product-listing:hover{
    border: 0.5px solid red;
}
.book-btn{
width: 100px;
    height: 50px;
    background: red;
}