@viewport {
  width: device-width;
  zoom: 1;
}

html,body
{

    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#bg{
width: 100%;

filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
}
#content{
    position: absolute;
    top: 0px;
    left: 120px;
    padding: 0px;
    color: white;
    font-family: AC Filmstrip;
    font-size: 70px;
}

#header-container{
    height: 685.5px;
    overflow: hidden;

}